.env
.pnpm-store
config/*.json
!config/databasetest.json
!config/configtest.json
!config/roletest.json
!config/accountstest.json
config/*.pem
node_modules/
ignore/
dist/
.idea/
package-lock.json
yarn.lock
coverage/
logs
