{
	"$schema": "https://swc.rs/schema.json",
	"jsc": {
		"baseUrl": "./",
		"paths": {
			"@/*": ["./*"],
			"@config/*": ["config/*"]
		},
		"parser": {
			"syntax": "typescript",
			"decorators": true,
			"dynamicImport": true
		},
		"target": "es2022",
		"experimental": {
			"emitAssertForImportAttributes": true
		}
	},
	"module": {
		"type": "es6"
	},
}
