{
	"users": [
		{
			"githubId": "",
			"discordId": "",
			"grade": "",
			"role": ""
		},
		{
			"githubId": "",
			"discordId": "",
			"grade": "",
			"role": ""
		},
		{
			"githubId": "",
			"discordId": "",
			"grade": "",
			"role": ""
		}
	]
}
