{
	"discord": {
		"token": "",
		"clientId": ""
	},
	"deepl": {
		"deeplApiKey": ""
	},
	"openai": {
		"openaiApiKey": "",
		"gptModel": ""
	},
	"github": {
		"appId": "",
		"privateKey": "",
		"installationId": "",
		"token": "",
		"owner": "",
		"repo": ""
	},
	"gcp": {
		"project": "",
		"zone": "",
		"instance": ""
	},
	"backend": {
		"candyEmoji": "",
		"candySuperEmoji": "",
		"candyLogChannel": "",
		"candyBoxAmount": "",
		"crownLogChannel": ""
	}
}
