{
	"discord": {
		"token": "",
		"clientId": "",
		"guildId": ""
	},
	"deepl": {
		"deeplApiKey": ""
	},
	"openai": {
		"openaiApiKey": "",
		"gptModel": "",
		"gptPrompt": ""
	},
	"github": {
		"appId": "",
		"privateKey": "config/cert.pem",
		"installationId": "",
		"token": "",
		"owner": "",
		"repo": ""
	},
	"gcp": {
		"project": "",
		"zone": "",
		"instance": ""
	},
	"backend": {
		"candyEmoji": ""
	}
}
