{
	"development": {
		"username": "",
		"password": "",
		"database": "",
		"host": "",
		"port": 0,
		"dialect": ""
	},
	"production": {
		"username": "",
		"password": "",
		"database": "",
		"host": "",
		"port": 0,
		"dialect": ""
	}
}
