x-base-service: &base-service
  build:
    context: ../../.
    dockerfile: environment/production/Dockerfile
  networks:
    - server-network
  environment:
    GOOGLE_APPLICATION_CREDENTIALS: config/key.json
    NODE_ENV: production
  volumes:
    - type: bind
      source: ../../config
      target: /app/config
services:
  backend:
    <<: *base-service
    container_name: waiwai-backend
    restart: always
    tty: true
    volumes:
      - type: bind
        source: ../../config
        target: /app/config
      - type: volume
        source: backend_node_modules
        target: /app/node_modules
    depends_on:
      migrate:
        condition: service_completed_successfully
    command: sh -c "pnpm i && pnpm run dev"
  scheduler:
    <<: *base-service
    container_name: waiwai-scheduler
    restart: "always"
    volumes:
      - type: bind
        source: ../../config
        target: /app/config
      - type: volume
        source: scheduler_node_modules
        target: /app/node_modules
    depends_on:
      migrate:
        condition: service_completed_successfully
    command: sh -c "pnpm i && pnpm run dev:scheduler"
  migrate:
    <<: *base-service
    container_name: waiwai-migrate
    restart: "no"
    volumes:
      - type: bind
        source: ../../config
        target: /app/config
      - type: volume
        source: migrate_node_modules
        target: /app/node_modules
    command: sh -c "pnpm i && pnpm run migrate up && pnpm run seed up && pnpm run datafix up"
networks:
  server-network:
    driver: bridge
volumes:
  backend_node_modules:
  scheduler_node_modules:
  migrate_node_modules:
