x-base-service: &base-service
  build:
    context: ../../.
    dockerfile: environment/production/Dockerfile
  image: waiwai-app:production
  networks:
    - server-network
  environment:
    NODE_ENV: production
    NODE_OPTIONS: --max-old-space-size=1024
  volumes:
    - type: bind
      source: ../../config
      target: /app/config
services:
  backend:
    <<: *base-service
    container_name: waiwai-backend
    restart: always
    command: ["dist/src/app.js"]
    depends_on:
      migrate:
        condition: service_completed_successfully
  scheduler:
    <<: *base-service
    container_name: waiwai-scheduler
    restart: always
    command: ["dist/src/scheduler.js"]
    depends_on:
      migrate:
        condition: service_completed_successfully
  migrate:
    <<: *base-service
    container_name: waiwai-migrate
    restart: "no"
    command: ["dist/migrator/migrator.js", "up"]
networks:
  server-network:
    driver: bridge
