version: "3.9"

x-base-service: &base-service
  image: waiwai-app:latest
  networks:
    - server-network
  environment:
    GOOGLE_APPLICATION_CREDENTIALS: /app/config/key.json
    NODE_ENV: production
    NODE_OPTIONS: "--max-old-space-size=256 --no-deprecation"
  volumes:
    - type: bind
      source: ../../config
      target: /app/config
  mem_limit: 256m
  cpus: 0.5
  restart: always
  tty: true
services:
  backend:
    <<: *base-service
    container_name: waiwai-backend
    command: ["node", "dist/index.js"]
  scheduler:
    <<: *base-service
    container_name: waiwai-scheduler
    command: ["node", "dist/scheduler.js"]
  migrate:
    <<: *base-service
    container_name: waiwai-migrate
    restart: "no"
    mem_limit: 512m
    command:
      [
        "sh",
        "-c",
        "node dist/migrate.js && node dist/seed.js && node dist/datafix.js"
      ]
networks:
  server-network:
    driver: bridge
