x-build: &build
  context: ../../.
  dockerfile: environment/production/Dockerfile
x-base-service: &base-service
  build: *build
  networks:
    - server-network
  environment:
    NODE_ENV: production
  volumes:
    - type: bind
      source: ../../config
      target: /app/config
services:
  migrate:
    <<: *base-service
    container_name: waiwai-migrate
    image: waiwai-app:production-migrate
    restart: "no"
    command: ["dist/migrator/migrator.js", "up"]
  seed:
    <<: *base-service
    container_name: waiwai-seed
    image: waiwai-app:production-seed
    restart: "no"
    command: ["dist/migrator/seeder.js", "up"]
    depends_on:
      migrate:
        condition: service_completed_successfully
  datafix:
    <<: *base-service
    container_name: waiwai-datafix
    image: waiwai-app:production-datafix
    restart: "no"
    command: ["dist/migrator/datafixer.js", "up"]
    depends_on:
      seed:
        condition: service_completed_successfully
  backend:
    <<: *base-service
    container_name: waiwai-backend
    image: waiwai-app:production-backend
    restart: always
    command: ["dist/src/app.js"]
    depends_on:
      datafix:
        condition: service_completed_successfully
  scheduler:
    <<: *base-service
    container_name: waiwai-scheduler
    image: waiwai-app:production-scheduler
    restart: always
    command: ["dist/src/scheduler.js"]
    depends_on:
      datafix:
        condition: service_completed_successfully
networks:
  server-network:
    driver: bridge
