x-build: &build
  context: ../../.
  dockerfile: environment/development/Dockerfile
x-base-service: &base-service
  build: *build
  networks:
    - server-network
  environment:
    NODE_ENV: development
  volumes:
    - ../../src:/app/src
    - ../../migrator:/app/migrator
    - ../../tests:/app/tests
    - ../../tsconfig.json:/app/tsconfig.json
    - ../../config:/app/config
services:
  database:
    container_name: waiwai-database
    image: mysql:8.0
    platform: linux/x86_64
    restart: always
    env_file:
      - ../../.env
    command: mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - server-network
    healthcheck:
      test: ["CMD-SHELL", "mysql -h localhost -u $$MYSQL_USER -p$$MYSQL_PASSWORD -e 'SELECT 1' $$MYSQL_DATABASE"]
      interval: 10s
      retries: 10
      start_period: 60s
      timeout: 10s
  migrate:
    <<: *base-service
    container_name: waiwai-migrate
    image: waiwai-app:development-migrate
    restart: "no"
    command: ["pnpm", "migrateAll:up"]
    depends_on:
      database:
        condition: service_healthy
  backend:
    <<: *base-service
    container_name: waiwai-backend
    image: waiwai-app:development-backend
    restart: always
    command: ["pnpm", "dev:backend"]
    depends_on:
      database:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
  scheduler:
    <<: *base-service
    container_name: waiwai-scheduler
    image: waiwai-app:development-scheduler
    restart: always
    command: ["pnpm", "dev:scheduler"]
    depends_on:
      database:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
networks:
  server-network:
    driver: bridge
volumes:
  mysql_data:
