x-base-service: &base-service
  tty: true
  build:
    context: ../../.
    dockerfile: environment/development/Dockerfile
  networks:
    - server-network
  environment:
    CI: "true"
    GOOGLE_APPLICATION_CREDENTIALS: config/key.json
    NODE_OPTIONS: --no-deprecation --max-old-space-size=512
  volumes:
    - type: bind
      source: ../../config
      target: /app/config
services:
  backend:
    <<: *base-service
    container_name: waiwai-backend
    restart: always
    mem_limit: 1g
    mem_reservation: 256m
    volumes:
      - type: bind
        source: ../../.
        target: /app
      - type: volume
        source: backend_node_modules
        target: /app/node_modules
    # migrate の完了を待つ
    depends_on:
      database:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    command: sh -c "pnpm install && pnpm run dev"
  scheduler:
    <<: *base-service
    container_name: waiwai-scheduler
    restart: "always"
    mem_limit: 512m
    mem_reservation: 128m
    volumes:
      - type: bind
        source: ../../.
        target: /app
      - type: volume
        source: scheduler_node_modules
        target: /app/node_modules
    networks:
      - server-network
    # migrate の完了を待つ
    depends_on:
      database:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    command: sh -c "pnpm install && pnpm run dev:scheduler"
  migrate:
    <<: *base-service
    container_name: waiwai-migrate
    restart: "no"
    mem_limit: 1g
    mem_reservation: 256m
    environment:
      NODE_ENV: development
      NODE_OPTIONS: --no-deprecation --max-old-space-size=768
    volumes:
      - type: bind
        source: ../../.
        target: /app
      - type: volume
        source: migrate_node_modules
        target: /app/node_modules
    depends_on:
      database:
        condition: service_healthy
    command: sh -c "pnpm install && pnpm run migrate up && pnpm run seed up && pnpm run datafix up"
  database:
    container_name: waiwai-database
    env_file:
      - ../../.env
    restart: always
    image: mysql:8.0
    mem_limit: 1g
    mem_reservation: 256m
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --innodb-buffer-pool-size=256M
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - server-network
    platform: linux/x86_64
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 10
      start_period: 60s
      timeout: 10s
networks:
  server-network:
    driver: bridge
volumes:
  mysql_data:
  backend_node_modules:
  scheduler_node_modules:
  migrate_node_modules:
