x-base-service: &base-service
  build:
    context: ../../.
    dockerfile: environment/development/Dockerfile
  image: waiwai-app:development
  networks:
    - server-network
  environment:
    CI: "true"
    GOOGLE_APPLICATION_CREDENTIALS: /app/config/key.json
    NODE_ENV: production
    NODE_OPTIONS: --no-deprecation --max-old-space-size=2048
  volumes:
    - type: bind
      source: ../../config
      target: /app/config
services:
  backend:
    <<: *base-service
    container_name: waiwai-backend
    restart: always
    mem_limit: 1g
    mem_reservation: 256m
    command: ["dist/src/app.js"]
    depends_on:
      database:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
  scheduler:
    <<: *base-service
    container_name: waiwai-scheduler
    restart: always
    mem_limit: 1g
    mem_reservation: 256m
    command: ["dist/src/scheduler.js"]
    depends_on:
      database:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
  migrate:
    <<: *base-service
    container_name: waiwai-migrate
    restart: "no"
    mem_limit: 1g
    mem_reservation: 256m
    command: ["dist/migrator/migrator.js", "up"]
    depends_on:
      database:
        condition: service_healthy
  database:
    container_name: waiwai-database
    image: mysql:8.0
    platform: linux/x86_64
    restart: always
    mem_limit: 1g
    mem_reservation: 256m
    env_file:
      - ../../.env
    command: mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --innodb-buffer-pool-size=1024M
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - server-network
    healthcheck:
      test: ["CMD-SHELL", "mysql -h localhost -u $$MYSQL_USER -p$$MYSQL_PASSWORD -e 'SELECT 1' $$MYSQL_DATABASE"]
      interval: 10s
      retries: 10
      start_period: 60s
      timeout: 10s
networks:
  server-network:
    driver: bridge
volumes:
  mysql_data:
