name: auto set pull request to draft on new commit

on:
  pull_request:
    types:
      - synchronize

permissions:
  pull-requests: write
  contents: read

jobs:
  set-draft:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: set pull request to draft if not already
        if: ${{ !github.event.pull_request.draft }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          gh pr ready $PR_NUMBER --undo
          echo "pull request #$PR_NUMBER has been set to draft."
